.light-button {
  background-color: transparent;
  border: 2px solid #fff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  text-transform: uppercase;
}

.light-button.on {
  background-color: yellow;
  color: black;
}

.light-button.off {
  background-color: gray;
}

.light {
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.lights-section {
  margin: 20px 0;
}

.doors-section, .motion-section, .camera-section {
  margin: 20px 0;
}

img {
  margin-top: 10px;
  max-width: 100%;
}
